.noms {
  &__ul {
    padding: 0;
  }

  &__li {
    display: flex;
    margin-top: 1rem;
  }

  &__poster {
    width: 200px;
    filter: grayscale(100%);
    align-self: center;

    &:hover {
      filter: grayscale(0%);
    }
  }
}