@import '../../partials/variables';

.btn {
  background-color: $accent-one;
  color: $main-bg;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: $big-radius;
  font-weight: bold;

  &:hover {
    background-color: $main-bg;
    color: $section-bg;
  }

  &:active {
    outline: none;
  }

  &--inactive {
    opacity: 0.6;
    
    &:hover {
      background-color: $accent-one;
      color: $main-bg;
    }
  }
}

.movie {
  display: flex;
  align-items: center;

  &--noms {
    flex-grow: 1;
    justify-content: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }

  &__title {
    margin: 1rem 0 0 0;
  }

  &__year {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
  }
}