// Colors
$main-bg: #181818;
$section-bg: #E6E6E6;
$accent-one: #F6E71D;
$accent-two: #F5D10D;

// Widths
$tablet-width: 768px;
$desktop-width: 1200px;

// Other
$accent-font: 'Abril Fatface';
$big-radius: 20px;
$small-radius: 4px;